// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.heading {
    padding-left: 50%;
}

.checked {
    color: orange;
}

.field {
    border-radius: 5px;

    input {
        min-height: 20px;
        border-radius: 4px;
        border: 1px solid #e6e6e6;
        margin: 12px 0;
        padding: 12px;
        width: 90%
    }

    textarea {
        width: 100%;
        min-height: 20px;
        border-radius: 4px;
        border: 1px solid #e6e6e6;
        margin: 12px 0;
        padding: 12px;
    }
}

.link-margin {
    margin: 10px;
}

html,
body {
    margin: 0;
    height: 100%;
    overflow: hidden
}

.background_image {
    background-image: url(image-path('flight1.jpg'));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh
}

.home {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    transition: all .5s ease;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar-header {
    background: url("assets/White_plane_icon.svg") center / contain no-repeat;
    transform: translateX(-50%);
    top: 7px;
    left: 47%;
    position: absolute;
    width: 150px;
    font-size: 25px;
}

// .form {
//     top: 200px;
// }

.field-input {
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem 0;

    input {
        min-height: 20px;
        border-radius: 4px;
        border: 1px solid #e6e6e6;
        margin: 12px 0;
        padding: 12px;
        width: 100%;
        max-width: 480px;
        border-radius: 40px;
        padding: 1rem;
    }
}


.section {
    position: relative;
    height: 100vh;
}

.section-center {
    -webkit-transform: translateY(-50%);
    transform: translate(260px, 186px);
}

#background-cover {
    background-image: url(image-path('flight6.jpg'));
    background-size: cover;
    background-position: center
}

.user-form {
    background: rgba(0, 0, 0, .7);
    padding: 40px;
    border-radius: 40px
}



.user-form .form-label {
    display: block;
    margin-left: 5px;
    text-transform: uppercase;
    font-size: 25px;
    color: #fff;
    box-sizing: border-box;
}



.user-form .submit-btn {
    color: #fff;
    background-color: #f23e3e;
    font-weight: 400;
    height: 50px;
    font-size: 14px;
    border: none;
    width: 100%;
    border-radius: 40px;
    text-transform: uppercase;
    -webkit-transition: .2s all;
    transition: .2s all
}
.user-form .submit-btn-disabled {
    color: #fff;
    background-color: #f67b7b;
    font-weight: 400;
    height: 50px;
    font-size: 14px;
    border: none;
    width: 100%;
    border-radius: 40px;
    text-transform: uppercase;
    -webkit-transition: .2s all;
    transition: .2s all
}
.user-form .submit-btn:hover,
.user-form .submit-btn:focus {
    opacity: .9
}


.link-center {
    cursor: pointer;
    display: flex;
    justify-content: center;
}

.loader-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background: rgba(0, 0, 0, 0.834);
    z-index: 1;
}

.spinner {
    width: 64px;
    height: 64px;
    border: 8px solid;
    border-color: #3d5af1 transparent #3d5af1 transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}

@keyframes spin-anim {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner-login {
    width: 30px;
    height: 30px;
    border: 5px solid;
    border-color: #f8e301 transparent #ffdb0c transparent;
    border-radius: 50%;
    animation: spin-anim 1.2s linear infinite;
}